.songcard-body {
    width: 100%;
    height: 100%;
    background-color: #010c22;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(98,158,255);
    background: 
    linear-gradient(
    75deg, 
    rgb(14, 28, 54) 0%, 
    rgba(54, 69, 98,0) 100%);
}