a {
    text-decoration: none !important;
}

.btn-body {
    height: 80px;
    width: 90px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    transition: all 0.4s ease;
    background-color: rgba(250, 116, 116, 0);
}

.btn-body.active {
    background: rgb(98,158,255);
    background: 
    linear-gradient(
    75deg, 
    rgb(34, 54, 90) 0%, 
    rgba(54, 69, 98,0) 100%);
    color: white;
    transform: scale(1.05);
}

.btn-body:hover{
    color: white;
}

.btn-title {
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}